---
import Section from "../Section.astro";

import { activities } from "@cv"
---

<Section title="Actividades Personales">
    <ul>
        {
            activities.map(({ summary }) => (
                <li>
                    <p>{summary}</p>
                </li>
            ))
        }
    </ul>
</Section>